[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = https://github.com/mattn/calendar-vim.git
[submodule "bundle/timestamp"]
	path = bundle/timestamp
	url = https://github.com/vim-scripts/timestamp.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/voom"]
	path = bundle/voom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = https://github.com/vim-scripts/Jinja.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/powershell"]
	path = bundle/powershell
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	branch = master
[submodule "bundle/jscomplete-vim"]
	path = bundle/jscomplete-vim
	url = https://bitbucket.org/teramako/jscomplete-vim.git
	branch = master
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	branch = master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	branch = master
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
	branch = master
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
	branch = master
